.container {
  max-width: 900px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.5);
}

p {

}

img {
  max-width: 100%;
}

.banner {

}

.btn-signup {
  background-color: #df5850;
  border-radius: 36px;
  color: #fff;
  font-size: inherit;
  font-weight: bold;
  padding: 11px;
  margin: auto;
  border: none;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
}
