@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Karla');

/* Layout helpers */
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0px;
}

/*Basic Typography*/
img {
  max-width: 100%;
}

h2 {
  text-align: center;
  font-size: 50px;
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  color: #646464;
  line-height: 50px;
}

p{
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  color: #2d2d2d;
  line-height: 24px;
  text-align: center;
  display: block;
  margin: 0 auto;
}

a{
  color: #e2574c;
}

/* Header */
.header {
  background: #000;
}

.header__logo {
  margin: 0 auto;
  display: block;
  width: 200px;
}

.header__nav {
}

.header__nav-list {
  text-align: center;
  list-style-type: none;
  padding: 0;
}

.header__nav-list-item {
  color: white;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  display: inline;
  margin: 0 10px 0 10px;
  text-transform: uppercase;
}

.header__nav-link {
  color: #fff;
  text-decoration: none;
}


/* Banner */
.banner {
  background-image: url("images/kayak-bkgd.jpg");
  background-color: rgba(0,0,0,0.20);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  margin: 0 auto;
  padding: 60px 0 60px 0;
}

.banner__title {
  text-align: center;

}

.banner__span {
  display: block;
}

.banner__span--enjoy {
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
}

.banner__span--outdoors {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  color: #fff;
  font-size: 50px;
}

.banner__span--water {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  line-height: 26px;
  color: #fff;
  font-size: 34px;
  padding: 0 0 15px 0;
}

.banner__lead {
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  max-width: 80%;
  margin: 0 auto;
  color: white;
  padding: 5px;
}

.btn {
  background-color: #df5850;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  padding: 11px;
  border-radius: 50px;
  text-decoration: none;
  font-size: 14px;
  border: none;
  margin: 50px auto;
  display: block;
}

.prices{
  background-color: #ddd;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
    background: #333;
    padding: 20px;
}

/*Footer*/
footer{
  background-color: #242424;
  padding: 60px 0 60px 0;
}

.footer__type{
  color: #fff;
}

 /*tablet */
@media (min-width: 600px) {
  img {
    max-width: 40%;
      }

      .header {
        position: relative;
        height: 40px;
      }

      .header__logo {
        position: absolute;
        top: 5px;
        left: 0px;
        height: 30px;
      }

      .header__nav {
        position: absolute;
        right: 5px;
        top: 12px;
      }

      .details{
        width: 50%;
        float: left;
      }

      .prices{
        background-color: #ddd;
        width: 50%;
        float: right;
      }


/* desktop */
@media (min-width: 1100px) {
  img {
    max-width: 100%;
  }

  .header {
    position: relative;
    height: 60px;
  }

  .header__logo {
    position: absolute;
    top: 10px;
    left: 20px;
    height: 40px;
  }

  .header__nav {
    position: absolute;
    right: 5px;
    top: 23px;
  }

  .details{
    width: 50%;
    float: left;
  }

  .prices{
    background-color: #ddd;
    width: 50%;
    float: right;
  }
