/* Layout helpers */
.container {
  max-width: 960px;
  margin: 0 auto;
  border: 1px solid deeppink;
}

img {
  max-width: 100%;
}

/* Header */
.header {}

.header__logo {}

.header__nav {}

.header__nav-list {}

.header__nav-list-item {}

.header__nav-link {}


/* Banner */
.banner {}

.banner__title {
  text-align: center;
}

.banner__span {
  display: block;
}

.banner__span--enjoy {
  text-transform: uppercase;
  font-size: 16px;
}

.banner__span--outdoors {
  font-size: 60px;
}

.banner__span--water {
  font-size: 30px;
}

.banner__lead {
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  /*max-width: 60%;*/
  margin: 0 auto;
  color: white;
}

.btn {
  background-color: #df5850;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  padding: 11px;
  border-radius: 50px;
  text-decoration: none;
  font-size: 14px;
  border: none;
  margin: 50px auto;
  display: block;
}
